<header>
  <div class="header-container">
    <a class="brand" routerLink="/">
      <div class="mr-10">
        <img src="assets/images/adogtion-logo.png" height="60" alt="Adogtion" />
      </div>

      <div class="brand-right">BLOG DESIGNED FOR ADOPTION ANNOUNCEMENTS</div>
    </a>

    <div class="header-menu" routerLink="/posts" routerLinkActive="active-menu-link">Posts</div>
  </div>
</header>

<main>
  <div class="page-container mt-30">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="footer-container"></div>
</footer>

